<section class="flex flex-col md:flex-row justify-center items-center gap-8">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-royal-blue-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo
      <strong> Iván Egido Jiménez</strong>, 
      alguien a quien desde pequeño le ha gustado mucho la informática y los videojuegos,
      me di cuenta de que quería dedicarme a la programación ya que es un mundo en
      el que estás en constante aprendizaje y nunca te aburres.
    </p>

    <p>
      Desde pequeño, una cualidad que he tenido es que
      <strong>me gusta aprender cosas nuevas</strong>,
      ya que no me ha gusta quedarme estancado en lo que siempre se hacer, además
      de que
      <strong>
        soy una persona muy activa y dinámica a la que le gusta trabajar en un
        ambiente de trabajo agradable y con buen rollo</strong>.
    </p>

    <p>
      Durante mi formación en el ciclo de
      <strong><em class="italic">Grado Superior de Desarrollo de Aplicaciones Web</em></strong>.
      He aprendido a trabajar con diferentes lenguajes de
      programación como
      <strong> Java, Vue y MySQL</strong>, además de aprender a trabajar con
      diferentes herramientas como
      <strong>Git y Docker</strong>.
    </p>

    <p>
      Uno de mis éxistos durante el ciclo fue mi contribución a la hora de
      ayudar a mis compañeros a la hora de resolver problemas y dudas que
      tenían.
    </p>

    <p>
      No tenga mucha experiencia en el mundo laboral pero estoy dispuesto a
      aprender y a dar lo mejor de mi para poder crecer profesionalmente y
      personalmente.
    </p>
  </div>
  <img src="/FotoPerfilPortfolio.jpg" class="rounded-full size-64 order-1 md:order-2" alt="" />
</section>
