<span
  class="inline-flex items-center justify-center
         animate-background-shine cursor-pointer rounded-full 
         border border-royal-blue-300 
         bg-[linear-gradient(110deg,#206ae9,45%,#eff7ff,55%,#206ae9)] bg-[length:250%_100%] 
         px-3 py-1 
         text-sm font-medium 
         text-slate-300 backdrop-blur-3xl"
>
  <slot />
</span>
