<header
  class="w-full xl:w-[1120px]
  mx-auto
  flex justify-center items-center
  sticky top-0 z-50"
>
  <nav
    class="flex flex-row gap-x-10
            rounded-full
            bg-royal-blue-200/70
            py-2 px-6"
  >
    <a
      class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="/#top">Inicio</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="/#experiencia">Experiencia</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="/#proyectos">Proyectos</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="/#sobre-mi">Sobre mi</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href="/#contacto">Contacto</a
    >
  </nav>
</header>

<script>
  const a = document.querySelectorAll("a");
  a.forEach((link) => {
    link.classList.remove("text-white");
  });
</script>
