<header class="
  w-full xl:w-[1120px] 
  mx-auto py-5 
  flex justify-center items-center 
  ">
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/#top">Inicio</a>
    <a href="/#experiencia">Experiencia</a>
    <a href="/#proyectos">Proyectos</a>
    <a href="/#sobre-mi">Sobre mi</a>
    <a href="/#contacto">Contacto</a>
  </nav>
</header>
